In [1]:
import pandas as pd

pr_df = pd.read_csv(f'../corp_prices/ITC_10yr_price_md.csv', index_col=0)

In [2]:
pr_df

,symbol,date,close,high,low,volume,open,adjclose,dividends,splits,max_dv,close_dv,mov_1d,vol_1d
0,ITC.NS,1996-01-01,5.583333,5.600000,5.533333,985500.0,5.550000,3.633695,0.0,0.0,0.012048,0.006006,NaN,NaN
1,ITC.NS,1996-01-02,5.372222,5.566666,5.288888,7470000.0,5.466666,3.496303,0.0,0.0,0.052521,-0.017276,-0.037811,6.579909
2,ITC.NS,1996-01-03,5.200000,5.254444,5.101111,15160500.0,5.133333,3.384218,0.0,0.0,0.030059,0.012987,-0.032058,1.029518
3,ITC.NS,1996-01-04,5.297777,5.332222,5.144444,12397500.0,5.200000,3.447852,0.0,0.0,0.036501,0.018803,0.018803,-0.182250
4,ITC.NS,1996-01-05,5.202222,5.277777,5.188888,5008500.0,5.297777,3.385664,0.0,0.0,0.017131,-0.018037,-0.018037,-0.596007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6378,ITC.NS,2021-05-20,207.000000,209.300003,206.800003,20884367.0,208.449997,207.000000,0.0,0.0,0.012089,-0.006956,-0.003610,-0.144270
6379,ITC.NS,2021-05-21,209.050003,209.850006,207.399994,22638020.0,207.600006,209.050003,0.0,0.0,0.011813,0.006985,0.009903,0.083970
6380,ITC.NS,2021-05-24,211.500000,212.050003,207.750000,28865798.0,209.500000,211.500000,0.0,0.0,0.020698,0.009547,0.011720,0.275103
6381,ITC.NS,2021-05-25,210.899994,213.399994,210.250000,25334878.0,213.000000,210.899994,0.0,0.0,0.014982,-0.009859,-0.002837,-0.122322
6382,ITC.NS,2021-05-26,211.850006,212.449997,210.500000,11953940.0,211.800003,211.850006,0.0,0.0,0.009264,0.000236,0.004505,-0.528163