In [1]:
import os
import pandas as pd
os.getcwd()

'/home/samar/Desktop/PROJECTS/Homer_3/FinanceDB/Assets'

In [3]:
dfb = pd.read_csv('NSE/BS/NonFinancial/TCS_stnd_BS.csv')
dfb.head()

,Unnamed: 0,0,1,2,3,4,5,6
0,0,Balance Sheet of Tata Consultancy Services (in...,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17,NaN
1,1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN
2,2,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
3,3,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Equity Share Capital,370.0,375.0,375.0,191.0,197.0,NaN

In [5]:
dfp = pd.read_csv('NSE/PL/NonFinancial/TCS_stnd_PL.csv')
dfp.head()

,Unnamed: 0,0,1,2,3,4,5,6
0,0,Profit & Loss account of Tata Consultancy Serv...,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17,NaN
1,1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN
2,2,INCOME,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Revenue From Operations [Gross],135963.0,131306.0,123170.0,97356.0,92693.0,NaN
4,4,Less: Excise/Sevice Tax/Other Levies,0.0,0.0,0.0,0.0,0.0,NaN

In [6]:
dfb.drop(['Unnamed: 0','6'],axis=1, inplace=True)
dfp.drop(['Unnamed: 0','6'],axis=1, inplace=True)

In [7]:
dfb = dfb.set_index('0')
dfp = dfp.set_index('0')

In [8]:
dfb.head()

,1,2,3,4,5
0,,,,,
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
NaN,12 mths,12 mths,12 mths,12 mths,12 mths
EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN
SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN
Equity Share Capital,370.0,375.0,375.0,191.0,197.0

In [9]:
dfp.head()

,1,2,3,4,5
0,,,,,
Profit & Loss account of Tata Consultancy Services (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
NaN,12 mths,12 mths,12 mths,12 mths,12 mths
INCOME,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Gross],135963.0,131306.0,123170.0,97356.0,92693.0
Less: Excise/Sevice Tax/Other Levies,0.0,0.0,0.0,0.0,0.0

In [10]:
dfb.columns = dfb.iloc[0]
dfp.columns = dfp.iloc[0]

In [11]:
dfp.head()

Profit & Loss account of Tata Consultancy Services (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
0,,,,,
Profit & Loss account of Tata Consultancy Services (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
NaN,12 mths,12 mths,12 mths,12 mths,12 mths
INCOME,NaN,NaN,NaN,NaN,NaN
Revenue From Operations [Gross],135963.0,131306.0,123170.0,97356.0,92693.0
Less: Excise/Sevice Tax/Other Levies,0.0,0.0,0.0,0.0,0.0

In [12]:
dfb = dfb.transpose()
dfp = dfp.transpose()

In [13]:
dfb.columns = dfb.columns.fillna('to_drop')
dfb.drop('to_drop', axis = 1, inplace = True)
dfb.head()

0,Balance Sheet of Tata Consultancy Services (in Rs. Cr.),EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,Mar 21,NaN,NaN,370.0,370.0,74424.0,74424.0,74794.0,NaN,0.0,...,--,--,NaN,--,NaN,--,--,NaN,--,--
Mar 20,Mar 20,NaN,NaN,375.0,375.0,73993.0,73993.0,74368.0,NaN,0.0,...,--,128501.0,NaN,342.58,NaN,--,2189.0,NaN,25686.0,2189.0
Mar 19,Mar 19,NaN,NaN,375.0,375.0,78523.0,78523.0,78898.0,NaN,0.0,...,--,119499.0,NaN,342.58,NaN,--,2189.0,NaN,28218.0,2252.0
Mar 18,Mar 18,NaN,NaN,191.0,191.0,75675.0,75675.0,75866.0,NaN,39.0,...,--,92258.0,NaN,151.15,NaN,--,2186.0,NaN,25972.0,9101.0
Mar 17,Mar 17,NaN,NaN,197.0,197.0,77825.0,77825.0,78022.0,NaN,44.0,...,--,86370.0,NaN,155.90,NaN,--,2201.0,NaN,21999.0,18730.0

In [129]:
dfp.columns = dfp.columns.fillna('to_drop')
dfp.drop('to_drop', axis = 1, inplace = True)
dfp.head()

0,Profit & Loss account of Tata Consultancy Services (in Rs. Cr.),INCOME,Revenue From Operations [Gross],Less: Excise/Sevice Tax/Other Levies,Revenue From Operations [Net],Total Operating Revenues,Other Income,Total Revenue,EXPENSES,Cost Of Materials Consumed,...,"VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIALS STORES, SPARES AND LOOSE TOOLS",Imported Raw Materials,Indigenous Raw Materials,"STORES, SPARES AND LOOSE TOOLS",Imported Stores And Spares,Indigenous Stores And Spares,DIVIDEND AND DIVIDEND PERCENTAGE,Equity Share Dividend,Tax On Dividend,Equity Dividend Rate (%)
Profit & Loss account of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,Mar 21,NaN,135963.0,0.0,135963.0,135963.0,5400.0,141363.0,NaN,0.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,3800.0
Mar 20,Mar 20,NaN,131306.0,0.0,131306.0,131306.0,8082.0,139388.0,NaN,0.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,37634.0,0.0,7300.0
Mar 19,Mar 19,NaN,123170.0,0.0,123170.0,123170.0,7627.0,130797.0,NaN,0.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,10085.0,1339.0,3000.0
Mar 18,Mar 18,NaN,97356.0,0.0,97356.0,97356.0,5803.0,103159.0,NaN,86.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,9284.0,1442.0,5000.0
Mar 17,Mar 17,NaN,92693.0,0.0,92693.0,92693.0,4568.0,97261.0,NaN,94.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,9162.0,1785.0,4700.0

In [130]:
cd = dfb.filter(regex=("Balance Sheet*"), axis=1)
dfb.drop(cd,axis=1,inplace=True)
dfb.head()

0,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,NaN,NaN,370.0,370.0,74424.0,74424.0,74794.0,NaN,0.0,365.0,...,--,--,NaN,--,NaN,--,--,NaN,--,--
Mar 20,NaN,NaN,375.0,375.0,73993.0,73993.0,74368.0,NaN,0.0,347.0,...,--,128501.0,NaN,342.58,NaN,--,2189.0,NaN,25686.0,2189.0
Mar 19,NaN,NaN,375.0,375.0,78523.0,78523.0,78898.0,NaN,0.0,339.0,...,--,119499.0,NaN,342.58,NaN,--,2189.0,NaN,28218.0,2252.0
Mar 18,NaN,NaN,191.0,191.0,75675.0,75675.0,75866.0,NaN,39.0,424.0,...,--,92258.0,NaN,151.15,NaN,--,2186.0,NaN,25972.0,9101.0
Mar 17,NaN,NaN,197.0,197.0,77825.0,77825.0,78022.0,NaN,44.0,314.0,...,--,86370.0,NaN,155.90,NaN,--,2201.0,NaN,21999.0,18730.0

In [131]:
cd = dfp.filter(regex=("Profit & Loss*"), axis=1)
dfp.drop(cd,axis=1,inplace=True)
dfp.head()

0,INCOME,Revenue From Operations [Gross],Less: Excise/Sevice Tax/Other Levies,Revenue From Operations [Net],Total Operating Revenues,Other Income,Total Revenue,EXPENSES,Cost Of Materials Consumed,Operating And Direct Expenses,...,"VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIALS STORES, SPARES AND LOOSE TOOLS",Imported Raw Materials,Indigenous Raw Materials,"STORES, SPARES AND LOOSE TOOLS",Imported Stores And Spares,Indigenous Stores And Spares,DIVIDEND AND DIVIDEND PERCENTAGE,Equity Share Dividend,Tax On Dividend,Equity Dividend Rate (%)
Profit & Loss account of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,NaN,135963.0,0.0,135963.0,135963.0,5400.0,141363.0,NaN,0.0,0.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,0.0,0.0,3800.0
Mar 20,NaN,131306.0,0.0,131306.0,131306.0,8082.0,139388.0,NaN,0.0,1596.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,37634.0,0.0,7300.0
Mar 19,NaN,123170.0,0.0,123170.0,123170.0,7627.0,130797.0,NaN,0.0,2003.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,10085.0,1339.0,3000.0
Mar 18,NaN,97356.0,0.0,97356.0,97356.0,5803.0,103159.0,NaN,86.0,1920.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,9284.0,1442.0,5000.0
Mar 17,NaN,92693.0,0.0,92693.0,92693.0,4568.0,97261.0,NaN,94.0,1664.0,...,NaN,0.0,0.0,NaN,0.0,0.0,NaN,9162.0,1785.0,4700.0

In [132]:
dfb.replace(to_replace='--', value=0, inplace=True)
dfp.replace(to_replace='--', value=0, inplace=True)

In [133]:
dfb.fillna(0, inplace=True)
dfp.fillna(0, inplace=True)

In [134]:
dfp.columns

Index(['INCOME', 'Revenue From Operations [Gross]',
       'Less: Excise/Sevice Tax/Other Levies', 'Revenue From Operations [Net]',
       'Total Operating Revenues', 'Other Income', 'Total Revenue', 'EXPENSES',
       'Cost Of Materials Consumed', 'Operating And Direct Expenses',
       'Changes In Inventories Of FG,WIP And Stock-In Trade',
       'Employee Benefit Expenses', 'Finance Costs',
       'Depreciation And Amortisation Expenses', 'Other Expenses',
       'Total Expenses',
       'Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax',
       'Exceptional Items', 'Profit/Loss Before Tax',
       'Tax Expenses-Continued Operations', 'Current Tax',
       'Less: MAT Credit Entitlement', 'Deferred Tax', 'Tax For Earlier Years',
       'Total Tax Expenses',
       'Profit/Loss After Tax And Before ExtraOrdinary Items',
       'Profit/Loss From Continuing Operations', 'Profit/Loss For The Period',
       'OTHER ADDITIONAL INFORMATION', 'EARNINGS PER SHARE', 'Basic EPS (Rs.)',
       'Diluted EPS (Rs.)',
       'VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIALS STORES, SPARES AND LOOSE TOOLS',
       'Imported Raw Materials', 'Indigenous Raw Materials',
       'STORES, SPARES AND LOOSE TOOLS', 'Imported Stores And Spares',
       'Indigenous Stores And Spares', 'DIVIDEND AND DIVIDEND PERCENTAGE',
       'Equity Share Dividend', 'Tax On Dividend', 'Equity Dividend Rate (%)'],
      dtype='object', name='0')

In [135]:
dfb.columns

Index(['EQUITIES AND LIABILITIES', 'SHAREHOLDER'S FUNDS',
       'Equity Share Capital', 'Total Share Capital', 'Reserves and Surplus',
       'Total Reserves and Surplus', 'Total Shareholders Funds',
       'NON-CURRENT LIABILITIES', 'Long Term Borrowings',
       'Deferred Tax Liabilities [Net]', 'Other Long Term Liabilities',
       'Long Term Provisions', 'Total Non-Current Liabilities',
       'CURRENT LIABILITIES', 'Short Term Borrowings', 'Trade Payables',
       'Other Current Liabilities', 'Short Term Provisions',
       'Total Current Liabilities', 'Total Capital And Liabilities', 'ASSETS',
       'NON-CURRENT ASSETS', 'Tangible Assets', 'Intangible Assets',
       'Capital Work-In-Progress', 'Other Assets', 'Fixed Assets',
       'Non-Current Investments', 'Deferred Tax Assets [Net]',
       'Long Term Loans And Advances', 'Other Non-Current Assets',
       'Total Non-Current Assets', 'CURRENT ASSETS', 'Current Investments',
       'Inventories', 'Trade Receivables', 'Cash And Cash Equivalents',
       'Short Term Loans And Advances', 'OtherCurrentAssets',
       'Total Current Assets', 'Total Assets', 'OTHER ADDITIONAL INFORMATION',
       'CONTINGENT LIABILITIES, COMMITMENTS', 'Contingent Liabilities',
       'CIF VALUE OF IMPORTS', 'Raw Materials',
       'Stores, Spares And Loose Tools', 'Trade/Other Goods', 'Capital Goods',
       'EXPENDITURE IN FOREIGN EXCHANGE', 'Expenditure In Foreign Currency',
       'REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS',
       'Dividend Remittance In Foreign Currency',
       'EARNINGS IN FOREIGN EXCHANGE', 'FOB Value Of Goods', 'Other Earnings',
       'BONUS DETAILS', 'Bonus Equity Share Capital',
       'NON-CURRENT INVESTMENTS',
       'Non-Current Investments Quoted Market Value',
       'Non-Current Investments Unquoted Book Value', 'CURRENT INVESTMENTS',
       'Current Investments Quoted Market Value',
       'Current Investments Unquoted Book Value'],
      dtype='object', name='0')

In [136]:
indx = dfp.index.name
df = dfb.join(dfp, rsuffix='_pl')
df

0,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,"VALUE OF IMPORTED AND INDIGENIOUS RAW MATERIALS STORES, SPARES AND LOOSE TOOLS",Imported Raw Materials,Indigenous Raw Materials,"STORES, SPARES AND LOOSE TOOLS",Imported Stores And Spares,Indigenous Stores And Spares,DIVIDEND AND DIVIDEND PERCENTAGE,Equity Share Dividend,Tax On Dividend,Equity Dividend Rate (%)
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,0.0,0.0,370.0,370.0,74424.0,74424.0,74794.0,0.0,0.0,365.0,...,0,0.0,0.0,0,0.0,0.0,0,0.0,0.0,3800.0
Mar 20,0.0,0.0,375.0,375.0,73993.0,73993.0,74368.0,0.0,0.0,347.0,...,0,0.0,0.0,0,0.0,0.0,0,37634.0,0.0,7300.0
Mar 19,0.0,0.0,375.0,375.0,78523.0,78523.0,78898.0,0.0,0.0,339.0,...,0,0.0,0.0,0,0.0,0.0,0,10085.0,1339.0,3000.0
Mar 18,0.0,0.0,191.0,191.0,75675.0,75675.0,75866.0,0.0,39.0,424.0,...,0,0.0,0.0,0,0.0,0.0,0,9284.0,1442.0,5000.0
Mar 17,0.0,0.0,197.0,197.0,77825.0,77825.0,78022.0,0.0,44.0,314.0,...,0,0.0,0.0,0,0.0,0.0,0,9162.0,1785.0,4700.0

In [137]:
for d in df.columns:
    df[d] = df[d].astype(float)

In [138]:
df['DE'] = (df['Long Term Borrowings'] +  df['Short Term Borrowings']  )  /df['Total Reserves and Surplus']
df['R/P'] = df['Trade Receivables'] / df['Trade Payables']
df['CR'] = df['Total Current Assets'] / df['Total Current Liabilities']
df['CCR'] = df['Cash And Cash Equivalents'] / df['Total Current Assets']
df['Eq_Assets'] = df['Total Shareholders Funds'] / df['Total Capital And Liabilities']
df['FA_Assets'] = df['Fixed Assets'] / df['Total Assets']
df['NC_Assets'] = df['Total Non-Current Assets'] / df['Total Assets'] 
df['C_Assets'] = df['Total Current Assets'] / df['Total Assets']

In [139]:
df.columns

Index(['EQUITIES AND LIABILITIES', 'SHAREHOLDER'S FUNDS',
       'Equity Share Capital', 'Total Share Capital', 'Reserves and Surplus',
       'Total Reserves and Surplus', 'Total Shareholders Funds',
       'NON-CURRENT LIABILITIES', 'Long Term Borrowings',
       'Deferred Tax Liabilities [Net]',
       ...
       'Tax On Dividend', 'Equity Dividend Rate (%)', 'DE', 'R/P', 'CR', 'CCR',
       'Eq_Assets', 'FA_Assets', 'NC_Assets', 'C_Assets'],
      dtype='object', name='0', length=114)

In [140]:
for d in df.columns:
    df[d] = df[d].astype(float)
df['EBITDA_Mgn'] = (df['Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax'] + df['Finance Costs'] + df['Depreciation And Amortisation Expenses']) / df['Total Revenue']
df['EBIT_Mgn'] = (df['Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax'] + df['Finance Costs'] ) / df['Total Revenue']

In [141]:
df['PBT_Mgn'] = df['Profit/Loss Before Exceptional, ExtraOrdinary Items And Tax'] / df['Total Revenue']

In [142]:
df['NPM'] = df['Profit/Loss For The Period']/df['Total Revenue']

In [143]:
df['OPR_Rev'] = df['Total Operating Revenues'] / df['Total Revenue']

In [144]:
df.head()

0,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,CCR,Eq_Assets,FA_Assets,NC_Assets,C_Assets,EBITDA_Mgn,EBIT_Mgn,PBT_Mgn,NPM,OPR_Rev
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,0.0,0.0,370.0,370.0,74424.0,74424.0,74794.0,0.0,0.0,365.0,...,0.037783,0.683793,0.154689,0.239722,0.760278,0.323352,0.301755,0.297956,0.219011,0.961800
Mar 20,0.0,0.0,375.0,375.0,73993.0,73993.0,74368.0,0.0,0.0,347.0,...,0.060914,0.708435,0.161019,0.245592,0.754408,0.325961,0.306583,0.301253,0.238615,0.942018
Mar 19,0.0,0.0,375.0,375.0,78523.0,78523.0,78898.0,0.0,0.0,339.0,...,0.112613,0.792945,0.105477,0.205709,0.794291,0.325627,0.312507,0.311207,0.229860,0.941688
Mar 18,0.0,0.0,191.0,191.0,75675.0,75675.0,75866.0,0.0,39.0,424.0,...,0.051113,0.833180,0.117268,0.250769,0.749231,0.325788,0.309823,0.309532,0.244681,0.943747
Mar 17,0.0,0.0,197.0,197.0,77825.0,77825.0,78022.0,0.0,44.0,314.0,...,0.019228,0.869248,0.119299,0.237483,0.762517,0.325485,0.309291,0.309127,0.243191,0.953034

In [145]:
df['RONW'] = df['Profit/Loss For The Period'] / df['Total Shareholders Funds']
df['ROA'] = df['Profit/Loss For The Period'] / df['Total Assets']

In [146]:
df['ITR'] = df['Total Revenue']/ df['Inventories']

In [147]:
df['cred_sales_ratio'] =  df['Total Revenue']/ df['Trade Receivables']

In [148]:
df.to_csv('Sample_calcdf.csv')
# df2 = df
# df2['NI'] = [i for i in range(1,len(df2)+1)]
# for i in range(1,len(df2.index)):
#     print(df2.loc[i,'ITR'])
#     df.loc[i, 'mov_1d'] = (df.loc[i, 'close'] / df.loc[i-1, 'close']) - 1
#     df.loc[i, 'vol_1d'] = (df.loc[i, 'volume'] / df.loc[i-1, 'volume']) - 1

In [112]:
# name_indx = df2.index.name

In [114]:
# df2.set_index('NI', inplace=True)

In [116]:
# df2[name_indx]
# df.to_csv('Sample_df_calcs.csv')

In [117]:
# df

0,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,C_Assets,EBITDA_Mgn,EBIT_Mgn,PBT_Mgn,NPM,OPR_Rev,RONW,ROA,ITR,cred_sales_ratio
NI,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,370.0,370.0,74424.0,74424.0,74794.0,0.0,0.0,365.0,...,0.760278,0.323352,0.301755,0.297956,0.219011,0.961800,0.413937,0.283047,20194.714286,5.604750
2,0.0,0.0,375.0,375.0,73993.0,73993.0,74368.0,0.0,0.0,347.0,...,0.754408,0.325961,0.306583,0.301253,0.238615,0.942018,0.447235,0.316837,27877.600000,4.863503
3,0.0,0.0,375.0,375.0,78523.0,78523.0,78898.0,0.0,0.0,339.0,...,0.794291,0.325627,0.312507,0.311207,0.229860,0.941688,0.381062,0.302161,13079.700000,5.443298
4,0.0,0.0,191.0,191.0,75675.0,75675.0,75866.0,0.0,39.0,424.0,...,0.749231,0.325788,0.309823,0.309532,0.244681,0.943747,0.332705,0.277203,4126.360000,5.463351
5,0.0,0.0,197.0,197.0,77825.0,77825.0,78022.0,0.0,44.0,314.0,...,0.762517,0.325485,0.309291,0.309127,0.243191,0.953034,0.303158,0.263520,4631.476190,5.865457