In [1]:
import os
import pandas as pd
os.getcwd()

'/home/samar/Desktop/PROJECTS/Homer_3/FinanceDB/Assets'

In [2]:
df = pd.read_csv('NSE/BS/TCS_stnd_BS.csv')
df.head()

,Unnamed: 0,0,1,2,3,4,5,6
0,0,Balance Sheet of Tata Consultancy Services (in...,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17,NaN
1,1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths,NaN
2,2,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN,NaN
3,3,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Equity Share Capital,370.0,375.0,375.0,191.0,197.0,NaN

In [3]:
df.drop(['Unnamed: 0','6'],axis=1, inplace=True)
df.head()

,0,1,2,3,4,5
0,Balance Sheet of Tata Consultancy Services (in...,Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
1,NaN,12 mths,12 mths,12 mths,12 mths,12 mths
2,EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN
3,SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN
4,Equity Share Capital,370.0,375.0,375.0,191.0,197.0

In [4]:
df = df.set_index('0')
df.head()

,1,2,3,4,5
0,,,,,
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
NaN,12 mths,12 mths,12 mths,12 mths,12 mths
EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN
SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN
Equity Share Capital,370.0,375.0,375.0,191.0,197.0

In [5]:
df.columns = df.iloc[0]

df.isna().sum().sum()

80

In [6]:
df.head()

Balance Sheet of Tata Consultancy Services (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
0,,,,,
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),Mar 21,Mar 20,Mar 19,Mar 18,Mar 17
NaN,12 mths,12 mths,12 mths,12 mths,12 mths
EQUITIES AND LIABILITIES,NaN,NaN,NaN,NaN,NaN
SHAREHOLDER'S FUNDS,NaN,NaN,NaN,NaN,NaN
Equity Share Capital,370.0,375.0,375.0,191.0,197.0

In [7]:
df = df.transpose()

In [8]:
df.head()

0,Balance Sheet of Tata Consultancy Services (in Rs. Cr.),NaN,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,Mar 21,12 mths,NaN,NaN,370.0,370.0,74424.0,74424.0,74794.0,NaN,...,--,--,NaN,--,NaN,--,--,NaN,--,--
Mar 20,Mar 20,12 mths,NaN,NaN,375.0,375.0,73993.0,73993.0,74368.0,NaN,...,--,128501.0,NaN,342.58,NaN,--,2189.0,NaN,25686.0,2189.0
Mar 19,Mar 19,12 mths,NaN,NaN,375.0,375.0,78523.0,78523.0,78898.0,NaN,...,--,119499.0,NaN,342.58,NaN,--,2189.0,NaN,28218.0,2252.0
Mar 18,Mar 18,12 mths,NaN,NaN,191.0,191.0,75675.0,75675.0,75866.0,NaN,...,--,92258.0,NaN,151.15,NaN,--,2186.0,NaN,25972.0,9101.0
Mar 17,Mar 17,12 mths,NaN,NaN,197.0,197.0,77825.0,77825.0,78022.0,NaN,...,--,86370.0,NaN,155.90,NaN,--,2201.0,NaN,21999.0,18730.0

In [9]:
df.columns

Index(['Balance Sheet of Tata Consultancy Services (in Rs. Cr.)',
                                                             nan,
                                      'EQUITIES AND LIABILITIES',
                                           'SHAREHOLDER'S FUNDS',
                                          'Equity Share Capital',
                                           'Total Share Capital',
                                          'Reserves and Surplus',
                                    'Total Reserves and Surplus',
                                      'Total Shareholders Funds',
                                       'NON-CURRENT LIABILITIES',
                                          'Long Term Borrowings',
                                'Deferred Tax Liabilities [Net]',
                                   'Other Long Term Liabilities',
                                          'Long Term Provisions',
                                 'Total Non-Current Liabilities',
                                           'CURRENT LIABILITIES',
                                         'Short Term Borrowings',
                                                'Trade Payables',
                                     'Other Current Liabilities',
                                         'Short Term Provisions',
                                     'Total Current Liabilities',
                                 'Total Capital And Liabilities',
                                                        'ASSETS',
                                            'NON-CURRENT ASSETS',
                                               'Tangible Assets',
                                             'Intangible Assets',
                                      'Capital Work-In-Progress',
                                                  'Other Assets',
                                                  'Fixed Assets',
                                       'Non-Current Investments',
                                     'Deferred Tax Assets [Net]',
                                  'Long Term Loans And Advances',
                                      'Other Non-Current Assets',
                                      'Total Non-Current Assets',
                                                'CURRENT ASSETS',
                                           'Current Investments',
                                                   'Inventories',
                                             'Trade Receivables',
                                     'Cash And Cash Equivalents',
                                 'Short Term Loans And Advances',
                                            'OtherCurrentAssets',
                                          'Total Current Assets',
                                                  'Total Assets',
                                  'OTHER ADDITIONAL INFORMATION',
                           'CONTINGENT LIABILITIES, COMMITMENTS',
                                        'Contingent Liabilities',
                                          'CIF VALUE OF IMPORTS',
                                                 'Raw Materials',
                                'Stores, Spares And Loose Tools',
                                             'Trade/Other Goods',
                                                 'Capital Goods',
                               'EXPENDITURE IN FOREIGN EXCHANGE',
                               'Expenditure In Foreign Currency',
               'REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS',
                       'Dividend Remittance In Foreign Currency',
                                  'EARNINGS IN FOREIGN EXCHANGE',
                                            'FOB Value Of Goods',
                                                'Other Earnings',
                                                 'BONUS DETAILS',
                                    'Bonus Equity Share Capital',
                                       'NON-CURRENT INVESTMENTS',
                   'Non-Current Investments Quoted Market Value',
                   'Non-Current Investments Unquoted Book Value',
                                           'CURRENT INVESTMENTS',
                       'Current Investments Quoted Market Value',
                       'Current Investments Unquoted Book Value'],
      dtype='object', name='0')

In [15]:
df.at['Mar 21','Trade Payables']

'7962.00'

In [33]:

dd = df.filter(regex='Balance Sheet')
dd.columns
#cc = df.columns(lambda col: col.startswith('Balance Sheet of'), axis=1)

Index(['Balance Sheet of Tata Consultancy Services (in Rs. Cr.)'], dtype='object', name='0')

In [37]:
cc = df.columns.map(lambda x: x)

In [45]:
df.columns = df.columns.fillna('to_drop')
df.drop('to_drop', axis = 1, inplace = True)
df.head()

0,Balance Sheet of Tata Consultancy Services (in Rs. Cr.),EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,Mar 21,NaN,NaN,370.0,370.0,74424.0,74424.0,74794.0,NaN,0.0,...,--,--,NaN,--,NaN,--,--,NaN,--,--
Mar 20,Mar 20,NaN,NaN,375.0,375.0,73993.0,73993.0,74368.0,NaN,0.0,...,--,128501.0,NaN,342.58,NaN,--,2189.0,NaN,25686.0,2189.0
Mar 19,Mar 19,NaN,NaN,375.0,375.0,78523.0,78523.0,78898.0,NaN,0.0,...,--,119499.0,NaN,342.58,NaN,--,2189.0,NaN,28218.0,2252.0
Mar 18,Mar 18,NaN,NaN,191.0,191.0,75675.0,75675.0,75866.0,NaN,39.0,...,--,92258.0,NaN,151.15,NaN,--,2186.0,NaN,25972.0,9101.0
Mar 17,Mar 17,NaN,NaN,197.0,197.0,77825.0,77825.0,78022.0,NaN,44.0,...,--,86370.0,NaN,155.90,NaN,--,2201.0,NaN,21999.0,18730.0

In [51]:
c = df.at['Mar 21','FOB Value Of Goods']
cc = df.columns.map(lambda x: x.startswith("Balance Sheet"))

In [53]:
type(c)

str

In [54]:
cd = df.filter(regex=("Balance Sheet*"), axis=1)

In [56]:
df.drop(cd,axis=1,inplace=True)

In [57]:
df

0,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,NaN,NaN,370.0,370.0,74424.0,74424.0,74794.0,NaN,0.0,365.0,...,--,--,NaN,--,NaN,--,--,NaN,--,--
Mar 20,NaN,NaN,375.0,375.0,73993.0,73993.0,74368.0,NaN,0.0,347.0,...,--,128501.0,NaN,342.58,NaN,--,2189.0,NaN,25686.0,2189.0
Mar 19,NaN,NaN,375.0,375.0,78523.0,78523.0,78898.0,NaN,0.0,339.0,...,--,119499.0,NaN,342.58,NaN,--,2189.0,NaN,28218.0,2252.0
Mar 18,NaN,NaN,191.0,191.0,75675.0,75675.0,75866.0,NaN,39.0,424.0,...,--,92258.0,NaN,151.15,NaN,--,2186.0,NaN,25972.0,9101.0
Mar 17,NaN,NaN,197.0,197.0,77825.0,77825.0,78022.0,NaN,44.0,314.0,...,--,86370.0,NaN,155.90,NaN,--,2201.0,NaN,21999.0,18730.0

In [64]:
df = df.fillna(-9999, )

In [66]:
df.replace(to_replace='--', value=-9999, inplace=True)

for i,d in enumerate(df.columns):
    if i == 0:
        print('NO')
    else:
        pd.to_numeric(df[d], downcast="float")

NO

In [67]:
df.head()

0,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,-9999,-9999,370.0,370.0,74424.0,74424.0,74794.0,-9999,0.0,365.0,...,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999,-9999
Mar 20,-9999,-9999,375.0,375.0,73993.0,73993.0,74368.0,-9999,0.0,347.0,...,-9999,128501.0,-9999,342.58,-9999,-9999,2189.0,-9999,25686.0,2189.0
Mar 19,-9999,-9999,375.0,375.0,78523.0,78523.0,78898.0,-9999,0.0,339.0,...,-9999,119499.0,-9999,342.58,-9999,-9999,2189.0,-9999,28218.0,2252.0
Mar 18,-9999,-9999,191.0,191.0,75675.0,75675.0,75866.0,-9999,39.0,424.0,...,-9999,92258.0,-9999,151.15,-9999,-9999,2186.0,-9999,25972.0,9101.0
Mar 17,-9999,-9999,197.0,197.0,77825.0,77825.0,78022.0,-9999,44.0,314.0,...,-9999,86370.0,-9999,155.90,-9999,-9999,2201.0,-9999,21999.0,18730.0

In [68]:
df.replace(-9999,0, inplace=True)

In [69]:
df.head()

0,EQUITIES AND LIABILITIES,SHAREHOLDER'S FUNDS,Equity Share Capital,Total Share Capital,Reserves and Surplus,Total Reserves and Surplus,Total Shareholders Funds,NON-CURRENT LIABILITIES,Long Term Borrowings,Deferred Tax Liabilities [Net],...,FOB Value Of Goods,Other Earnings,BONUS DETAILS,Bonus Equity Share Capital,NON-CURRENT INVESTMENTS,Non-Current Investments Quoted Market Value,Non-Current Investments Unquoted Book Value,CURRENT INVESTMENTS,Current Investments Quoted Market Value,Current Investments Unquoted Book Value
Balance Sheet of Tata Consultancy Services (in Rs. Cr.),,,,,,,,,,,,,,,,,,,,,
Mar 21,0,0,370.0,370.0,74424.0,74424.0,74794.0,0,0.0,365.0,...,0,0,0,0,0,0,0,0,0,0
Mar 20,0,0,375.0,375.0,73993.0,73993.0,74368.0,0,0.0,347.0,...,0,128501.0,0,342.58,0,0,2189.0,0,25686.0,2189.0
Mar 19,0,0,375.0,375.0,78523.0,78523.0,78898.0,0,0.0,339.0,...,0,119499.0,0,342.58,0,0,2189.0,0,28218.0,2252.0
Mar 18,0,0,191.0,191.0,75675.0,75675.0,75866.0,0,39.0,424.0,...,0,92258.0,0,151.15,0,0,2186.0,0,25972.0,9101.0
Mar 17,0,0,197.0,197.0,77825.0,77825.0,78022.0,0,44.0,314.0,...,0,86370.0,0,155.90,0,0,2201.0,0,21999.0,18730.0

In [70]:
df.columns

Index(['EQUITIES AND LIABILITIES', 'SHAREHOLDER'S FUNDS',
       'Equity Share Capital', 'Total Share Capital', 'Reserves and Surplus',
       'Total Reserves and Surplus', 'Total Shareholders Funds',
       'NON-CURRENT LIABILITIES', 'Long Term Borrowings',
       'Deferred Tax Liabilities [Net]', 'Other Long Term Liabilities',
       'Long Term Provisions', 'Total Non-Current Liabilities',
       'CURRENT LIABILITIES', 'Short Term Borrowings', 'Trade Payables',
       'Other Current Liabilities', 'Short Term Provisions',
       'Total Current Liabilities', 'Total Capital And Liabilities', 'ASSETS',
       'NON-CURRENT ASSETS', 'Tangible Assets', 'Intangible Assets',
       'Capital Work-In-Progress', 'Other Assets', 'Fixed Assets',
       'Non-Current Investments', 'Deferred Tax Assets [Net]',
       'Long Term Loans And Advances', 'Other Non-Current Assets',
       'Total Non-Current Assets', 'CURRENT ASSETS', 'Current Investments',
       'Inventories', 'Trade Receivables', 'Cash And Cash Equivalents',
       'Short Term Loans And Advances', 'OtherCurrentAssets',
       'Total Current Assets', 'Total Assets', 'OTHER ADDITIONAL INFORMATION',
       'CONTINGENT LIABILITIES, COMMITMENTS', 'Contingent Liabilities',
       'CIF VALUE OF IMPORTS', 'Raw Materials',
       'Stores, Spares And Loose Tools', 'Trade/Other Goods', 'Capital Goods',
       'EXPENDITURE IN FOREIGN EXCHANGE', 'Expenditure In Foreign Currency',
       'REMITTANCES IN FOREIGN CURRENCIES FOR DIVIDENDS',
       'Dividend Remittance In Foreign Currency',
       'EARNINGS IN FOREIGN EXCHANGE', 'FOB Value Of Goods', 'Other Earnings',
       'BONUS DETAILS', 'Bonus Equity Share Capital',
       'NON-CURRENT INVESTMENTS',
       'Non-Current Investments Quoted Market Value',
       'Non-Current Investments Unquoted Book Value', 'CURRENT INVESTMENTS',
       'Current Investments Quoted Market Value',
       'Current Investments Unquoted Book Value'],
      dtype='object', name='0')

In [77]:
for d in df.columns:
    df[d] = df[d].astype(float)

In [78]:
df['DE'] = (df['Long Term Borrowings'] +  df['Short Term Borrowings']  )  /df['Total Reserves and Surplus']

In [80]:
df['R/P'] = df['Trade Receivables'] / df['Trade Payables']

In [81]:
df['CR'] = df['Total Current Assets'] / df['Total Current Liabilities']

In [84]:
df['CCR'] = df['Cash And Cash Equivalents'] / df['Total Current Assets']

In [85]:
df['Eq_Assets'] = df['Total Shareholders Funds'] / df['Total Capital And Liabilities']

In [86]:
df['FA_Assets'] = df['Fixed Assets'] / df['Total Assets']

In [87]:
df['NC_Assets'] = df['Total Non-Current Assets'] / df['Total Assets'] 
df['C_Assets'] = df['Total Current Assets'] / df['Total Assets']